  #setBox {
    font-size: 24px;
  }
  .Btn {
    font-size: 24px;
    height:38px;
    width:8ch;
    margin-top:20px;
    margin-right:20px;
  }
  #setData { 
  	margin-top:20px;
  	margin-right:10px;
  	margin-bottom:0px;
    font-size: 18px;
    height: 400px;
    width: 480px;
  }
